@charset "UTF-8";


/* 메인 */
#full-content #profile-img {
    margin: 0px 20px 0px 0px;
    width: 300px;
    float: left;
}

#full-content #greetings {
    float: left;
}

#full-content #greetings #greet {
    margin: 0px 0px 40px 0px;
    font-size: 20px;
    font-weight: bold;

}

#full-content #greetings #desc {
    font-size: 15px;
}

